{% extends 'sampleapp/main.html' %}

{% block content %}
{%  load static  %}


<div id="aboutUsdiv" style="font-family: 'Lato', sans-serif;padding: 5%;width: 100%; font-size: 20px; background-color: #ffcc00;">
    <div class="about-us" style="color: white">
        <div class="about-us-text" style="padding: 3px; width: 100%;">
            <p class="indent"><h3> About us:</h3></p>
            <p class="indent"> Vermin clothing brand is a local Filipino clothing brand influenced by the ever-growing mix of Asian and Popular culture. While there tends to be sudden shifts in trends of popular cultures among millennials and Gen Z alike, Vermin brand’s sharp styles and trendy fits are able to keep up.  
            </p>
            <br>
            <p class="indent"> Vermin brand started from the brilliant mind of Edrian P. Timan. Together with like-minded friends, Vermin was born. It features themes from Asian cultures, etched into the finest cloth at very affordable prices. No matter the fit, slap on any piece of Vermin product, and get ready to turn some heads.  
            </p>
        </div>
        <div style=" display: flex;padding: 20px;">
            <div style="flex: 1;width: 50%;padding: 20px; ">
              <img src="{% static 'sampleapp/images/owner.JPG' %}" style="width: 100%;">
              <div style="color: white; font-family: 'Shadows Into Light', cursive; text-align: right;">c.2020, Edrian Timan.</div>
            </div>
            <div style="flex: 1;width: 50%;padding: 20px; ">
                <img src="{% static 'sampleapp/images/belair.jpg' %}" style="width: 100%;">
                <div style="color: white; font-family: 'Shadows Into Light', cursive;">Chamber Belair, Santa Rosa Laguna</div>
            </div>
            
        </div>        
    </div>
</div>


{% endblock %}


