{% extends 'sampleapp/submain.html' %} {% block content %} {% load static %}

<div class="container"> 
    <h1>Your Cart </h1>
    <br><br>
    <strong> Items: </strong> {{item_count}}
    <br><br>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {% for c in cart %}
            <tr>
                <td><img src="{{c.item.clothing.image.url}}"style="width: 2in; height:2in;"></td> 
                <td>{{c.item.clothing.name}}</td>
                <td>{{c.item.clothing.price}}</td>
                <td>{{c.item.quantity}}</td>
                <td>
                    <a href="{% url 'update_item' c.item.id %}" class="btn btn-outline-dark">
                        <i class="fas fa-edit"></i>
                        Update Item
                    </a>
                </td>
                <td>
                    <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#delete_{{c.item.id}}">
                        <i class="fas fa-trash"></i>
                        Remove Item
                    </button>
                    
                    <div class="modal fade" id="delete_{{c.item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Remove to Cart Confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-start">
                                Are you sure you want to remove "{{c.item.clothing}}"?
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'delete_item' c.item.id %}" type="button" class="btn btn-outline-success"> 
                                    <i class="fas fa-minus-circle"></i> 
                                    Remove Item
                                </a>
                        
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                                    <i class="fas fa-ban"></i> 
                                    Cancel
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                </td> 
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}