{% extends 'sampleapp/submain.html' %} {% block content %} {% load static %}

<div class="container">
  <h1>Your Cart</h1>
  <br /><br />
  <strong> Items: </strong> {{item_count}} <br /><br />
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Size</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      {% for c in cart %}
      <tr>
        <td>
          <img
            src="{{c.item.clothing.image.url}}"
            style="width: 2in; height: 2in"
          />
        </td>
        <td>{{c.item.clothing.name}}</td>
        <td>₱ {{c.item.clothing.price}}</td>
        <td>{{c.item.quantity}}</td>
        <td>{{c.item.size}}</td>
        <td>
          <button
            type="button"
            class="btn btn-outline-warning"
            data-bs-toggle="modal"
            data-bs-target="#edit_{{c.item.id}}"
          >
            <i class="fas fa-edit"></i> Edit
          </button>
          <div
            class="modal fade"
            id="edit_{{c.item.id}}"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content" style="color: black">
                <form action="{% url 'update_item' c.item.id %}" method="post">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Edit Size and Item
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body text-start">
                    {% csrf_token %} {{c.form.user}} {{c.form.clothing}}

                    <div class="row">
                      <div class="col-sm-2"></div>
                      <div class="col-sm-4 text-center">Change Quantity:</div>
                      <div class="col-sm-4">{{c.form.quantity}}</div>
                      <div
                        class="col-sm-4 text-center"
                        style="margin-left: 0.85in; margin-top: 0.3in"
                      >
                        Change Size:
                      </div>
                      <div class="col-sm-4" style="margin-top: 0.3in">
                        {{c.form.size}}
                      </div>
                      <div class="col-sm-2"></div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">
                      <i class="fas fa-edit"></i>
                      Confirm
                    </button>

                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      data-bs-dismiss="modal"
                    >
                      <i class="fas fa-ban"></i>
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </td>
        <td>
          <button
            class="btn btn-outline-danger"
            data-bs-toggle="modal"
            data-bs-target="#delete_{{c.item.id}}"
          >
            <i class="fas fa-trash"></i>
            Remove Item
          </button>

          <div
            class="modal fade"
            id="delete_{{c.item.id}}"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5
                    class="modal-title"
                    id="exampleModalLabel"
                    style="color: black"
                  >
                    Remove to Cart Confirmation
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body text-start" style="color: black">
                  Are you sure you want to remove "{{c.item.clothing}}"?
                </div>
                <div class="modal-footer">
                  <a
                    href="{% url 'delete_item' c.item.id %}"
                    type="button"
                    class="btn btn-outline-warning"
                  >
                    <i class="fas fa-minus-circle"></i>
                    Remove Item
                  </a>

                  <button
                    type="button"
                    class="btn btn-outline-danger"
                    data-bs-dismiss="modal"
                  >
                    <i class="fas fa-ban"></i>
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>

      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td>Total Price:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>{{cum_price}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a
            href="{% url 'purchase_choice' %}"
            type="button"
            class="btn btn-outline-success"
          >
            <i class="fas fa-check-circle"></i>
            Confirm Purchase
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
