{% extends 'sampleapp/main.html' %} {% block content %} {% load static %}
<div class="album py-5" style="margin-top: 5%">
  <div class="container">
    <center>
      {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> {{message | striptags}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </center>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for item in itemsdict %}
      <div class="col">
        <div class="card shadow">
          <div class="PicDiv" style="position: relative">
            {% if item.item.image %}
            <img id="prodPic" width="100%" src="{{item.item.image.url}}" />
            {% else %}
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="350"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" />
              <text x="40%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            </svg>
            {% endif %}
            <div class="PicButton">
              <div>
                <a href="{% url 'products' item.item.id %}">
                  <input
                    type="submit"
                    style="
                      background-color: gold;
                      border: none;
                      font-family: 'Raleway', sans-serif;
                      color: black;
                      padding: 16px 32px;
                      text-decoration: underline;
                      margin: 4px 2px;
                      cursor: pointer;
                    "
                    value="View Product"
                  />
                </a>
              </div>
            </div>
          </div>

          <div id="cardbody" class="card-body border-dark">
            <center>
              <h5 class="card-text">{{item.item.name}}</h5>
              <p class="card-text" style="color: white">
                ₱ {{item.item.price}}
              </p>
              {% if item.item.stock > 0 %}
              <button
                class="btn btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#add_to_cart_{{item.item.id}}"
                style="color: white"
              >
                <i class="fas fa-shopping-cart" style="color: white"> </i> Add
                to cart
              </button>
              {% else %}
              <p style="color: white">
                OUT OF STOCK
              </p>
              {% endif %}
            </center>
            <div class="modal fade" id="add_to_cart_{{item.item.id}}">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <form action="{% url 'add_to_cart' %}" method="post">
                    <div class="modal-body" style="color: black">
                      Add to cart {{item.item.name}}? {% csrf_token %}
                      {{item.form.user}} {{item.form.clothing}}
                      <br />
                      <br />
                      <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4 text-center">Quantity:</div>
                        <div class="col-sm-4">{{item.form.quantity}}</div>
                        <div
                          class="col-sm-4 text-center"
                          style="margin-left: 0.85in; margin-top: 0.3in"
                        >
                          Size:
                        </div>
                        <div class="col-sm-4" style="margin-top: 0.3in">
                          {{item.form.size}}
                        </div>
                        <div class="col-sm-2"></div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="submit"
                        class="btn btn-outline-success"
                        data-bs-toggle="modal"
                        data-bs-target="#"
                      >
                        <i class="fas fa-shopping-cart"></i> Add
                      </button>
                      <button
                        type="button"
                        class="btn btn-outline-danger"
                        data-bs-dismiss="modal"
                      >
                        <i class="fas fa-ban"></i> Cancel
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% if data.searched == None %}
<center>
  <div
    class="card"
    style="
      color: #ffcc00;
      background-color: black;
      width: fit-content;
      padding-bottom: 2%;
      opacity: 0.9;
    "
  >
    <div class="card-body">
      <center style="margin-top: 10%">
        <h1>Uh oh...</h1>
        <h2>It might have been out of stock</h2>
        <h2>or you searched nothing.</h2>
        <h2>Check out our full collections instead.</h2>
        <div class="btn btn-outline-dark">
          <a
            href="{% url 'collections' %}"
            style="text-decoration: none; color: #ffcc00"
            >Collections</a
          >
        </div>
      </center>
    </div>
  </div>
</center>
{% endif %} {% endblock %}
