{% extends 'sampleapp/main.html' %} {% block content %} {% load static %}

<div style="position: relative">
  <p class="imgThumb">
    <img src="{% static 'sampleapp/images/GROUP.png' %}" style="width: 100%" />
    <span>
      <a id="gtcButton" href="{% url 'collections' %}"
        ><input type="submit" value="Go straight to collections"
      /></a>
    </span>
  </p>
</div>

<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="{% static 'sampleapp/images/slideshow1pic1.png' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'sampleapp/images/slideshow1pic2.png' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'sampleapp/images/slideshow1pic3.png' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br /><br />

<div class="row" style="padding-left: 3%; padding-right: 2%">
  <div class="float-child" style="width: 55%">
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
      style="
        float: center;
        width: 65%;
        -moz-box-shadow: 10px 10px 5px rgba(66, 66, 66, 0.863);
        -webkit-box-shadow: 10px 10px 5px rgba(66, 66, 66, 0.863);
        box-shadow: 10px 10px 5px rgba(66, 66, 66, 0.863);
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
      "
    >
      <div class="carousel-inner" style="border-radius: 2px">
        <div class="carousel-item active" data-bs-interval="5000">
          <img
            src="{% static 'sampleapp/images/verminpic1.JPG.png' %}"
            class="d-block w-100"
            style="border-radius: 25px"
          />
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="{% static 'sampleapp/images/verminpic2.JPG.png' %}"
            class="d-block w-100"
            style="border-radius: 25px"
          />
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img
            src="{% static 'sampleapp/images/verminpic3.png' %}"
            class="d-block w-100"
            style="border-radius: 25px"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="float-child" style="width: 45%">
    <div class="float-start">
      <video controls autoplay loop style="width: 100%; height: auto">
        <source src="{% static 'sampleapp/images/verminvid1.mp4' %}"
        type=video/mp4>
      </video>
    </div>
  </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<script></script>

{% endblock %}
