{% extends 'sampleapp/submain.html' %} {% block content %}

<div class="card" id="login-form" style="padding:3%;background-color: rgb(255, 255, 255);border-bottom: 5px solid #000000; border-radius: 25px;font-family: 'Raleway', sans-serif;margin-top: 5%;">
  <div class="card-body">
    <h3>Login to Vermin</h3>
    <br>
    <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <label for="floatingInput" style="font-size: 12px;">Enter Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="floatingInput"
            placeholder="Username"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="floatingPassword" style="font-size: 12px;">Enter Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="floatingPassword"
            placeholder="********"
            required
          />  
        </div>
      </div>
      <br>
      <button
        type="submit"
        class="btn btn-warning"
        style="color: black"
      >
        Sign In
      </button>
      {% for message in messages %} {% if message.tags == 'success' %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> {{message | striptags}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% else %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> {{message | striptags}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endif %} {% endfor %}
    </form>
  </div>
  <div class="card-body">
    New to Vermin?
    <a href="{% url 'register' %}"
      ><button class="btn btn-outline-warning">Register Here</button></a
    >
  </div>
</div>

{% endblock %}
