{% extends 'sampleapp/submain.html' %} {% block content %} {% load static %}

<div class="flex-container" style="display: flex; border: 1px solid rgba(0, 26, 255, 0);">

  <div class="flex-child" style="flex: 1; border: 2px solid rgba(255, 255, 0, 0); margin: 20px; width: 50%;">
    <img src="{{item.image.url}}" width="100%"/>
  </div>
  
  <div class="flex-child" style="flex: 1; border: 2px solid rgba(255, 255, 255, 0); margin: 20px; width: 50%;">
    <div style="border: 2px solid rgba(0, 255, 157, 0); margin-left: 5%; margin-right: 5%; margin-top: 5%;">
      <p class="h6">Vermin</p>
      <p class="h1">{{item.name}}</p>
      <h1 class="display-6">{{item.price}}</h1>
    </div>
    <form  action="{% url 'add_to_cart' %}" method="post">
      {% csrf_token %}
      {{ shoppingcartform.user }}
      {{ shoppingcartform.clothing }}
    <div style="margin-left: 5%; margin-right: 5%;">
      <div class="col-md-4">
        <p class="h6">Size</p>
        {{shoppingcartform.size}}
      </div>

      <div class="col-md-4" style="margin-top: 3%;">
        <div class="col-md-4">
          <p class="h6">Quantity</p>
          {{shoppingcartform.quantity}}
        </div>
        <br>
        <button type="submit" class="btn btn-warning">
          <i class="fas fa-cart-plus"></i>
            Add to Cart  
        </button>
      </div>
      <br>
      <p style="font-size: 13px; color: rgba(0, 0, 0, 0.479);">
        *100 % Combed Cotton<br>
        COLD WASH ONLY<br>
        DO NOT TUBLE DRY<br>
        *Machine wash cold<br>
        *Dry cleanable<br>
        *Do not iron on print<br>
        *Do not bleach<br>
        *Do not wring<br>
        *Do not tumble dry<br></p>

    </div>
  </form>
  </div>
  
</div>

{% endblock %}
